.ui.grid.recent-event-container {
  padding: 0 50px;
}

.latest-events {
  min-height: 670px;
  background: #f7f7f7;

  .ui.segment {
    background-size: 100% 200%;
    border-top: 1px solid white;
    background-image: linear-gradient(to bottom, white 50%, #2f2f2f 50%);

    &:hover img {
      transform: scale(1.2);
      filter: brightness(0.8);

    }
    img {
      width: 100%;
      transition: all .3s ease-in-out;
    }
  }

  .ui.grid > .row > .column.event-column {
    margin-bottom: 35px;
  }

  .event-image {
    height: 160px;
    position: relative;

    .location{
      text-align: left;
      position: absolute;
      bottom: 0;
      right: 0;
      color: red;
      font-weight: 500;
      background: white;
      padding: 0 2px;
      box-shadow: 0 3px 8px 0 rgba(0,0,0,.2), 0 0 0 1px rgba(0,0,0,.08);
    }
  }

  .event-description {
    overflow: hidden;
    //font-family: 'Roboto', sans-serif;
    margin-top: 15px;
    line-height: 20px;
    font-size: 14px;
    color: #6f6f6f;
    font-weight: 400;
    height:80px;
  }

  .event-title {
    text-align: left;
    margin-top: 10px;
    font-size: 16px;
    line-height: 25px;
    height: 50px;
    overflow: hidden;

    &:hover a {
      color: #ff214f;
      text-decoration: none;
    }

    a {
      color: #232323;
    }
  }

  .event-date {
    text-align: left;
    color: #939393;
    font-size: 11px;
    line-height: 14px;
    margin-top: 25px;
  }

  .event-seprator-line {
    height: 1px;
    background: #ededed;
    margin: 10px auto;
  }
}

.text-outside-line-full {
  font-weight: 600;
  text-transform: uppercase;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    height: 1px;
    width: 85%;
    display: block;
    border-bottom: 1px solid darkgrey;
    right: 75%;
    margin-right: 25px;
  }
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    height: 1px;
    width: 85%;
    display: block;
    border-bottom: 1px solid darkgrey;
    left: 75%;
    margin-left: 25px;
  }
}

@media screen and (max-width: 710px) {
  .ui.grid.recent-event-container {
    padding: 0 20px;
  }
}