.app-background.page-event.detail {
  background: white;
}

.event-detail-container {

  .detail-wrapper {
    margin: 0 120px !important;

    section {
      &:not(:last-child) {
        margin-bottom: 20px;
      }

      p {
        font-size: 15px !important;
        color: rgba(0, 0, 0, .8);
        line-height: 1.5;
      }
      .heading-2 {
        color: black;
        font-weight: 500;
        font-size: 16px;
      }
      ol {
        margin: 0;
      }
    }

    .section-heading {
      text-decoration: none !important;
      padding-bottom: 8px !important;
      border-bottom: 1px solid #c20000;
      display: inline-block !important;
      font-size: 18px !important;
      font-weight: 600 !important;
      //font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif !important;
      color: #000000 !important;
      margin-bottom: 16px !important;
    }

    .image-wrapper {
      margin-bottom: 10px;
      height: 400px;
    }

    .activities-wrapper {
      .event-activity {
        padding: 15px;
        border: 1px solid #E3E3E3;
        width: 90%;
        transition: all 0.5s ease-in-out;

        &:not(:last-child) {
          margin-bottom: 10px;
        }

        .date-fees-wrapper {
          margin-top: 4px;
          margin-bottom: 7px
        }

        &:hover {
          background: #E3E3E3;
        }
      }
    }

    .basic-detail-wrapper {
      border: 1px solid #dadada;
      width: 100%;
      padding: 25px;

      .event-title {
        color: black;
        font-size: 24px;
        font-weight: 900;
      }

      .date-time, .venue, .fees {
        font-size: 15px;
        font-weight: 300;
        color: black;
        padding: 5px 0;
      }

      .fees {
        font-weight: 500;
      }

      .website-btn {
        padding: 5px 0;
      }
    }
  }

  .similar-category-wrapper, .similar-nearby-wrapper {
    margin: 20px 120px !important;
    height: 500px;

    .title {
      font-weight: 600;
      font-size: 18px;
      color: black;
    }

    .event-card {
      width: 335px;
      &:hover {
        transform: unset;
      }
    }
  }

  .social-links-wrapper {
    text-align: center;
    background: #f7f7f7;
    min-height: 80px;
  }
}

@media screen and (min-width: 64em) {
  .event-detail-container .basic-detail-wrapper {
    position: sticky;
    position: -webkit-sticky;
    top: calc(1vw + 60px);
  }
}

@media screen and (max-width: 710px) {
  .event-detail-container {
    .detail-wrapper {
      margin: 0 !important;

      .image-wrapper {
        height: 200px;
      }
    }
    .basic-detail-wrapper {
      margin: 20px 0 !important;
    }
    .similar-category-wrapper, .similar-nearby-wrapper {
      margin: 10px !important;

      .event-card {
        width: 100%;
      }
    }
    .social-links-wrapper {
      margin: 0 !important;
    }
  }
}