.carousel-detail {
  height: 470px;
}

.five.wide.column.sticky-content {
  padding-left: 10%;
  padding-top: 6%;
}

li.current-selected-item {
  width: 100%;
  height: 20%;
  margin-bottom: 10px;
  font-size: large;
  color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-color: #FFFFFF;
  border-bottom-style: solid;
}

.detail-body-content {
  margin-left: 0;
  margin-top: 0;
}

/*Result detail styles*/
.result-detail-container {
  //background: #f7f7f7;
  margin: auto 5%;

  .title-wrapper {
    margin: auto;
    text-align: center;
    background: #f7f7f7;
    padding-top: 15px;
    padding-bottom: 15px;
    height: auto;

    .title {
      //margin-top: 32px;
      font-size: 24px;
      line-height: 26px;
      font-weight: 600;
      color: #232323;
      //font-family: 'Montserrat', sans-serif;
    }
  }

  .result-published-date-container {
    display: inline;
    color: orange;
  }


  .ui.button.result-animated-button {
    border: 1px solid #3e3e3e;
    transition: all .3s ease-in-out;
    margin: 20px auto;
    &:hover {
      background: white;
      color: #3e3e3e;
      border: 1px solid black;
    }
  }

}

/* SCC detail styles*/
.detail-container {
  .detail-wrapper {
    margin : 0 40px;

    section:not(:last-child){
      margin-bottom: 15px;
    }

    .institute-title{
      font-size:24px !important;

      .sub.header{
        font-size: 16px !important;
      }
    }

    .social-icons-wrapper .icon{
      color : black;
      :hover {
        color: #ff214f;
      }
      &.social-link-facebook:hover{
        color:blue;
        cursor: pointer;
      }
      &.social-link-google:hover{
        color:#c73828;
        cursor: pointer;
      }
      &.social-link-youtube:hover{
        color:red;
        cursor: pointer;
      }
      &.social-link-twitter:hover{
        color :teal;
        cursor: pointer;
      }
      &.social-link-instagram:hover{
        color: #ff214f;
        cursor: pointer;
      }
      &.social-link-linkedin:hover{
        color:#007ab9;
        cursor: pointer;
      }
    }

    .section-heading{
      color: white;
      background-image: -webkit-linear-gradient(45deg, #383737 85%, #f7f7f7 15%);
      width:fit-content;
      padding-left: 10px;
      padding-right: 100px;
      line-height: 24px;
      font-size: 14px;
      margin-bottom: 0;
    }

    .basic-detail-wrapper {
      min-height: 250px;

      &.exam{
        min-height:200px;
      }

      a{
        color : inherit;
        &:hover{
          color: #ff214f;
        }
      }
    }

    .about-us-wrapper{
      min-height:100px;
      text-align: justify;
    }

    .courses-wrapper{
      min-height:100px;
    }

    .notice-wrapper, .dates-wrapper, .vacancies-wrapper, .criteria-wrapper, .fees-wrapper, .apply-wrapper, .procedure-wrapper{
      min-height: 100px;
      text-align: justify;
    }
  }
}


/*Blog Detail*/
.blog-detail{
  .blog-header{
    animation-name: fadeIn;
    padding-top: 35px;
    padding-bottom: 35px;
    background-color: #f7f7f7;

    .container {
      width:1200px;
      padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto;


      .blog-title-wrapper{
        display: table-cell;
        vertical-align: middle;
        float: left;

        h1{
          font-size: 20px;
          line-height: 26px;
          font-weight: 600;
        }
      }

      .breadcrumb{
        background: transparent;
        border-radius: 0;
        padding: 0;
        display: table-cell !important;
        vertical-align: middle;

        ul {
          list-style: none;
          padding: 0;
          margin: 0;

          li{
            display: inline-block;

            a{
              color: #626262;
            }

            &:not(:last-child):after{
              content: " ";
              display: inline-block;
              vertical-align: middle;
              height: 5px;
              width: 5px;
              border-radius: 50%;
              margin: 10px;
              background: #a5a5a5;
            }
          }
        }
      }
    }
  }

  .blog-content{
    margin:0 !important;

    .content-image-wrapper{
      text-align: center;
    }

    .column {
      padding-right: 20px !important;
      padding-left: 20px !important;
    }
  }
}

@media screen and (max-width: 710px) {
  .detail-container {
    .detail-wrapper {
      margin : 0;

      .image-wrapper {
        text-align: center;
        height: 130px;

        img{
          height: 130px;
          width: 130px;
        }
      }
      .institute-title{
        text-align: center !important;
        .sub.header{
          margin-top: 5px;
          text-align: justify;
        }
      }
    }
  }

  .blog-detail {
    .blog-content .content img{
      width:100% !important;
      height:200px !important;
    }
    .blog-header {
      .container {
        width: unset;

        .column{
          display: table !important;

          &:last-child{
            margin-top: 10px;
          }
        }

        .blog-title-wrapper{
         text-align: center;
          float: none;
        }
      }
    }

    .breadcrumb {
      ul {
        text-align: center;
      }
    }
  }
}