.add-edit-wrapper {
  padding: 0 250px;

  section{
    &:not(:last-child) {
      margin-bottom: 15px;
    }

    &#buttons-section.top-placement{
      float: right;
      margin-bottom: 0;
    }

    &#basic-details-section{
      clear: both;
    }

    label{
      color:black;
    }
  }
  h3{
    color:cadetblue;
  }
}

@media screen and (max-width: 710px) {
  .add-edit-wrapper {
    padding: 10px;
  }
}

.ui.basic.segment.transparent-form{
  label{
    color: white;
  }
  h3{
    color: whitesmoke;
  }
  input {
    background: transparent;
    border: 1px solid white;
    color: white;
  }
  textarea{
    background: transparent;
    border: 2px solid white;
    color: white;
  }
  &.study, &.event, &.result{
    margin: 0 10% 0 10%;
  }
}

.rdw-image-alignment-options-popup{
  margin-left:65px;
}