.home-footer-container {
  padding: 0 !important;
  background: rgba(0, 0, 0, 0.9) !important;

  .ui.grid {
    margin: auto 0 auto 60px !important;

    h3 {
      margin: 10px;
      cursor: pointer;
      font-size: 16px;
      color: rgba(255, 255, 255, 0.9) !important;

      a {
        color: rgba(255, 255, 255, 0.9) !important;

        &:hover {
          color: #ff214f !important;
        }
      }
    }

    .social-icons-wrapper .icon {
      :hover {
        color: #ff214f;
      }
      &.social-link-facebook {
        &:hover, &.selected {
          color: blue;
          cursor: pointer;
        }
      }
      &.social-link-google{
        &:hover, &.selected {
          color: #c73828;
          cursor: pointer;
        }
      }
      &.social-link-youtube{
        &:hover, &.selected {
          color: red;
          cursor: pointer;
        }
      }
      &.social-link-twitter{
        &:hover, &.selected {
          color: teal;
          cursor: pointer;
        }
      }
      &.social-link-instagram{
        &:hover, &.selected {
          color: #ff214f;
          cursor: pointer;
        }
      }
      &.social-link-linkedin{
        &:hover, &.selected {
          color: #007ab9;
          cursor: pointer;
        }
      }
    }
  }
}

@media screen and (max-width: 710px) {
  .home-footer-container {
    .ui.grid {
      margin: auto !important;
      text-align: center;
    }
  }

}