.subscription-container {

  input[type="text"],  input[type="text"]:focus{
    border: none;
    background-color: transparent !important;
    color: white;
    width:auto;
  }

  &.result{
    background-color: #f7f7f7;
    padding: 50px 5px;
    border-radius: 7px;
    text-align: center;
    margin: auto;

    input[type="text"],  input[type="text"]:focus{
      width:400px;
      color: black;
    }
  }

  .ui.button {
    border: none #4f4f4f;
    color: white;
    background-color: #4f4f4f;
  }
  .ui.action.input{
    margin-top: 5px;
    border: 1px solid #4f4f4f;
    border-radius: 5px;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;

    &.invalid{
      border-color: crimson;
    }
    &.valid{
      border-color: #4f4f4f;
    }
  }

  .subscribe-here-label {
    font-weight: 400;
    font-size: x-large;
  }
}


@media screen and (max-width: 710px) {
  .subscription-container {
    &.result{
      input[type="text"],  input[type="text"]:focus{
        width:auto;
        color: black;
      }
    }
  }
}