@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500);

.not-found {
  background-color: #007aff;
  color: #fff;
  font-size: 100%;
  line-height: 1.5;
  //font-family: "Roboto", sans-serif;
  min-height: 637px;
  text-align: center;

  .button {
    font-weight: 300;
    font-size: 1.2em;
    text-decoration: none;
    border: 1px solid #efefef;
    padding: .5em;
    border-radius: 3px;
    transition: all .3s linear;

    &:hover {
      background-color: #007aff;
      color: #fff;
      -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
      -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
      -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
      transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
    }
  }

  p {
    font-size: 2em;
    text-align: center;
    font-weight: 100;
  }

  h1 {
    text-align: center;
    font-size: 15em;
    font-weight: 100;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15);
  }
}