h1.loading-text {
  color: blue;
  text-align: center;
  //font-family: sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  position: relative;
  &:after {
    position: absolute;
    content: "";
    -webkit-animation: Dots 2s cubic-bezier(0, .39, 1, .68) infinite;
    animation: Dots 2s cubic-bezier(0, .39, 1, .68) infinite;
  }
}

h3.error-message {
  color: blue;
  text-align: center;
  //font-family: sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  bottom: 10%;
  right: 0;
  left: 0;
  position: absolute;
}

.ui.button.retry-button {
  margin: 1em auto 30px;
  bottom: 0;
  right: 0;
  left: 0;
  position: absolute;
}

.loader, .no-connection-icon {
  margin: 5% auto 30px;
}

.loading-book-icon {
  border: 4px solid gainsboro;
  width: 60px;
  height: 45px;
  position: relative;
  perspective: 150px;

  .loading-book-page {
    display: block;
    width: 30px;
    height: 45px;
    border: 4px solid gainsboro;
    border-left: 1px solid whitesmoke;
    margin: 0;
    position: absolute;
    right: -4px;
    top: -4px;
    overflow: hidden;
    background: cadetblue;
    transform-style: preserve-3d;
    -webkit-transform-origin: left center;
    transform-origin: left center;

    &:nth-child(1) {
      -webkit-animation: pageTurn 1.2s cubic-bezier(0, .39, 1, .68) 1.6s infinite;
      animation: pageTurn 1.2s cubic-bezier(0, .39, 1, .68) 1.6s infinite;
    }

    &:nth-child(2) {
      -webkit-animation: pageTurn 1.2s cubic-bezier(0, .39, 1, .68) 1.45s infinite;
      animation: pageTurn 1.2s cubic-bezier(0, .39, 1, .68) 1.45s infinite;
    }

    &:nth-child(3) {
      -webkit-animation: pageTurn 1.2s cubic-bezier(0, .39, 1, .68) 1.2s infinite;
      animation: pageTurn 1.2s cubic-bezier(0, .39, 1, .68) 1.2s infinite;
    }
  }

}

/* Page turn */
@-webkit-keyframes pageTurn {
  0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  20% {
    background: aliceblue;
  }
  40% {
    background: whitesmoke;
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
  }
  100% {
    background: cadetblue;
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
  }
}

@keyframes pageTurn {
  0% {
    transform: rotateY(0deg);
  }
  20% {
    background: aliceblue;
  }
  40% {
    background: whitesmoke;
    transform: rotateY(-180deg);
  }
  100% {
    background: cadetblue;
    transform: rotateY(-180deg);
  }
}

/* Dots */

@-webkit-keyframes Dots {
  0% {
    content: "";
  }
  33% {
    content: ".";
  }
  66% {
    content: "..";
  }
  100% {
    content: "...";
  }
}

@keyframes Dots {
  0% {
    content: "";
  }
  33% {
    content: ".";
  }
  66% {
    content: "..";
  }
  100% {
    content: "...";
  }
}
