.list-heading-container {
  //background: ghostwhite;
  padding: 10px 10px 20px;
  //box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.08);
  margin: 14px 0 14px;

  .list-heading-title {
    text-align: center;
    color: #4d9294;
    text-transform: uppercase;
    margin-bottom: 5px;
    font-family : cursive;
    font-size: 24px !important;
  }

  .list-heading-content {
    width: 80%;
    margin: auto;
    text-align: center;
    color: cadetblue;
    font-family: monospace;
  }
}

.list-search-keyword{
  text-align: center;
  color: #4d9294;
  text-transform: uppercase;
  margin-bottom: 5px;
  font-family: cursive;
  font-size: 24px !important;
}

@media screen and (max-width: 710px) {
  .list-heading-container {
    padding: 20px;
    margin: 14px;

    .list-heading-title{
      margin-bottom: auto;
    }

    .list-heading-content {
      width: 100%;
      text-align: justify;
    }
  }
}