/* App Features ( What we provide section )*/
.app-features {
  min-height: 655px;
  background: #f7f7f7;

  .ui.grid {
    margin: 150px auto;
    text-align: center;

    &.grid-column-container {
      padding: 0 50px;
    }

    .row > .column {
      margin-bottom: 1em;
    }

  }

  .ui.segment.app-features-slide-container {
    border-bottom: 2px solid #949393;
    background-size: 100% 200%;
    border-top: 1px solid white;
    background-image: linear-gradient(to bottom, white 50%, #2f2f2f 50%);
    -webkit-transition: background-position .2s;
    -moz-transition: background-position .2s;
    transition: background-position .2s;

    &:hover {
      border-bottom: none;
      color: white;
      background-position: 0 100%;

      .image-container i.inverted.bordered.icon, .image-container i.inverted.circular.icon {
        background: unset !important;
        border: 2px solid white;
      }

      .image-container i.icon:before {
        color: white !important;
      }

      .app-features-column-heading {
        color: white;
      }

      .more-details .ui.button {
        color: white;
        border: 2px solid white;
        background: inherit;

        &:hover {
          color: black;
          background: white;
        }
      }
    }

    .image-container {
      text-align: center;
      height: 110px;
      margin: 10px;

      .ui.icon {
        background: #ff214f !important;
        transform: scale(1.1)
      }

      .i.inverted.bordered.icon, i.inverted.circular.icon {
        background-color: #fff !important;
        color: #000 !important;
        border: 2px solid black;
      }
    }

    .more-details .ui.button {
      margin: 10px 0;
    }

  }

  .app-features-column-heading {
    color: black;
    word-wrap: break-word;
  }

  .description-container {
    overflow: hidden;
    height: 100px;
    margin: 20px 25px auto 25px;
    line-height: 24px;
    font-size: 14px;
    text-align: center;
  }

}

@media screen and (max-width: 710px) {
  .app-features .ui.grid.grid-column-container {
    padding: 0 25px;
  }
}