.card-container {
  .card-image-container {
    position: relative;
    margin: 2%;
    overflow: hidden;
    height: 200px;
    width: 100%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

    img:hover {
      -moz-transform: scale(1.1);
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
  }
}

/* Exam list card styles*/
.exam-list-card {
  background: white;
  margin-bottom: 20px;
  border-radius: 10px;
  transition: all .5s ease-in-out;

  .exam-card-title {
    color: black;
    text-align: justify;
    font-size: 15px;
  }

  .exam-card-image-container {
    height: 80px;
  }

  &:hover {
    box-shadow: 0 5px 10px rgba(0, 0, 0, .15);
    border-radius: 8px;
    transform: scale(1.05);
    cursor: pointer;

    .exam-card-title {
      color: #ff214f;
    }
  }

  .basic-card-action-buttons {
    top: 0;

    .button {
      margin-bottom: 5px;
    }
  }
}

/*SCC list card styles*/
.scc-list-card {
  min-height: 270px;
  width: 100%;
  margin-bottom: 20px;
  padding: 30px;
  background: white;
  border-radius: 5px;

  &:hover {
    border: none;
    box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
    .scc-card-image-wrapper img {
      -moz-transform: scale(1.1);
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
      filter: brightness(0.8);
    }
  }

  &.not-verified {
    border: 2px solid orange;
  }

  .scc-card-image-wrapper {
    position: relative;
    margin: auto;
    overflow: hidden;
    height: 140px;
    width: 140px;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transition: all .20s ease-in-out;
    cursor: hand;
  }

  .scc-card-title-wrapper {
    text-align: justify;
    min-height: 55px;
    max-height: 100px;
    line-height: 20px;
    font-weight: 500;

    a {
      color: #232323;
    }

    .title{
      font-size: 18px;

      &:hover{
        color: rgb(255, 33, 79);
        cursor: pointer;
      }
    }
  }

  .scc-card-description-wrapper {
    margin: 10px auto;
    line-height: 20px;
    height: 100px;
    overflow: hidden;
  }

  .ui.button.scc-card-continue-button {
    border: 1px solid black;
    transition: all .3s ease-in-out;

    &:hover {
      background: white;
      color: black;
      border: 1px solid black;
    }
  }
}

/* Result Card Styles*/
.result-list-container {
  .result-card-title {
    color: black;
    text-align: justify;
    font-size: 15px;
  }

  .result-card-created-date {
    color: #013A6B;
    text-align: right;
    //background: -webkit-linear-gradient(45deg, rgb(255, 255, 255) 45%, #013A6B 90%);
    //background-image: -webkit-linear-gradient(45deg, rgba(1, 58, 107, 0.9) 45%, rgb(255, 255, 255) 66%);

    .ui.icon {
      color: white;
    }
  }
  .result-card-boardOrUniversity {
    color: white;
    //background-color: #34ADFF;
    background-image: -webkit-linear-gradient(45deg, #383737 85%, white 45%);
    width: fit-content;
    padding-left: 10px;
    padding-right: 100px;
  }

  .result-card-action-buttons-wrapper {
    padding-top: 20px;
  }

  .result-card-wrapper {
    padding: 14px;
    background-position: 0 0;
    background-size: 200% 100%;
    border: none;
    transition: all .4s ease-in-out;
    cursor: pointer;
    //background-image: linear-gradient(to right, white 50%, rgba(0, 128, 128, .2) 50%);
    //-webkit-transition: background-position .3s;
    //-moz-transition: background-position .3s;
    //transition: background-position .3s ease-in-out;

    &:hover {
      //background-position: 100% 0;
      box-shadow: 0 5px 10px rgba(0, 0, 0, .15);
      border-radius: 8px;
      transform: scale(.95);

      .result-card-title {
        color: #ff214f;
        /*color:white;*/
      }
    }

    .result-card-image-container {
      width: 70px;
      height: 70px;

      img {
        border-radius: 50%;
      }
    }
  }
}

.event-card {
  margin-bottom: 25px !important;

  &:hover {
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    -webkit-transform: scale(1.04);
    -ms-transform: scale(1.04);
    transform: scale(1.04);
  }

  .image-wrapper {
    cursor: pointer;
    height: 200px;

    .basic-card-action-buttons {
      bottom: 15px;
      right: 5px;
    }
  }

  .content-wrapper {
    min-height: 135px !important;
    border-top: 1px solid #f1f1f1;
    border-bottom: 1px solid #f1f1f1;

    .date-wrapper {
      border-right: 1px solid #f1f1f1;

      .month {
        color: #D75D5F;
      }
      .date {
        font-weight: bold;
      }
    }

    .ui.header{
      font-size: 15px !important;
    }

    .title {
      font-size: 16px !important;
      margin-bottom: 10px !important;
      color: black;
      cursor: pointer;

      &:hover, &:focus {
        color: #D75D5F;
      }
    }

    .sub-title{
      font-size: 14px !important;
    }

    .venue {
      line-height: 16px;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-bottom: 5px !important;
    }
  }

  .more-detail {
    border: 2px solid #c02c39 !important;
    transition: all .3s ease-in-out !important;
    background: #c02c39 !important;
    color: #FFFFFF !important;

    &:hover, &:focus {
      background: transparent !important;
      color: #c02c39 !important;
      border: 2px solid #c02c39 !important;
    }
  }

}

.blog-card{
  background: #f7f7f7 !important;
  margin-bottom:30px !important;

  &.draft{
    border: 2px solid yellow;
  }

  .image-wrapper{
    position: relative;

    &:hover .overlay{
      //display: block;
      transition: unset;
      color: white;
      background: rgba(255, 33, 79, .7);
    }

    .overlay{
      //display: none;
      text-align: center;
      height: 100%;
      width: 100%;
      position: absolute;
      color: transparent;
      cursor: pointer;
      transition: .5s all ease-in-out;
    }

    .category{
      color: white;
      background-color: rgba(28, 28, 28, .75);
      position: absolute;
      bottom: 8px;
      right: 0;
      width: 100%;
      padding: 2px 5px;
      text-align: center;
    }
  }

  .content{
    padding:35px 40px !important;
    position: relative;

    .blog-title{
      margin-bottom: 15px;
      font-size: 16px !important;
      line-height: 23px;
      font-weight: 500 !important;

      &:hover {
        color: #ff214f;
      }
    }

    .basic-card-action-buttons{
      top:0;
      right:0;
      height:30px;

      .icon{
        font-size: 1.2em !important;
        cursor: pointer;

        &:first-child{
          margin-right:5px;
        }
      }
    }

    .separator-line{
      background-color: #dbdbdb;
    }

    p{
      margin: 0 0 25px;
    }

    .author{
      margin-top: 10px;
    }
  }
}

@media screen and (max-width: 710px) {
  .scc-list-card {
    .scc-card-title-wrapper {
      text-align: center;
    }
  }

  .result-list-container {
    .result-card-boardOrUniversity {
      padding-left: 10px;
      padding-right: 70px;
      text-align: left;
      background-image: -webkit-linear-gradient(45deg, #34ADFF 80%, white 55%);
    }

    .result-card-action-buttons-wrapper {
      padding-top: 40px;
    }
  }

  .exam-list-card {
    .basic-card-action-buttons {
      top: unset;
    }
    .exam-card-image-container {
      height: 120px;
    }
  }
}