.related-info-container {




  .title{
    font-weight: normal !important;
  }

  .info{
    height : 100px;
    cursor: pointer;
  }

  &.school, &.college, &.coaching{
    min-height: 350px !important;

    .info{
      height : 80px;
    }

  }

  .related-info-wrapper {
    font-size: 12px;
  }
}