.top-colleges-container {
  margin: 0 !important;
  height: 635px;
  background-size: cover !important;
  background: url("https://www.themezaa.com/html/pofo/images/homepage-option17-banner-bg.jpg") no-repeat center !important;
  .left-container {
  }
  .right-container {
    padding: 50px !important;
    visibility: visible !important;
    animation-name: fadeIn !important;
    .heading {
      font-weight: 600;
      //font-family: 'Montserrat', sans-serif;
      font-size: 32px;
      line-height: 40px;
      padding: 0 16px;
      text-align: center;
    }
    .description {
      margin: 0 0 25px;
      padding: 0 16px;
      text-align: center;
      -webkit-margin-before: 1em;
      -webkit-margin-after: 1em;
      -webkit-margin-start: 0px;
      -webkit-margin-end: 0px;
    }
    .college-list {
      .college {
        border: .9px solid #eee !important;
        height: 180px !important;
        margin-bottom: 20px !important;

        .container {
          position: relative;
          color: #fff;
          font-size: 1.2rem;

          .image-container {
            position: relative;
            height: 125px;
            overflow: hidden;

            img {
              width: 100%;
              height: 100%;
            }
          }
          .overlay-content-container {
            background: rgba(61, 52, 52, .7);
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;

            .title {
              position: absolute;
              top: 0;
              padding: 7px;
              font-size: 13px;
              font-weight: 500;
              color: white !important;
            }

            .location{
              right: 0;
              bottom: 0;
              position: absolute;
              max-width: 135px;
              font-size: 12px;
              padding: 0 2px;
              background: white;
              color: red;
            }
          }
        }
        .description {
          margin: 0;
          width: 100%;
          background: #fcfcfc;
          padding: 9px;
          position: relative;
          height: 52px;
          font-size: 12px;
          line-height: 20px;
          text-align: justify;
          border-radius: 2px !important;
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 0 rgba(0, 0, 0, 0.08) !important;
          outline: none !important;
          transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1) !important;
        }

        &:hover {
          cursor: pointer;
          transform: scale(1.05);

          .container .overlay-content-container .title{
            color: #8de8fd !important;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 710px) {
  .top-colleges-container {
    background: #ededed !important;
    height: 100%;

    .left-container {
      display: none
    }

    .right-container {
      padding: 25px !important;

      .college-list{
        height:100%;

        .college{
          padding-right: 0;
          padding-left: 0;
          height: 250px !important;

          .container .image-container{
            height:180px;
          }
        }
      }
    }
  }
}


