.filters-wrapper {
   .filter-top-box {
     padding: 30px;
     margin: 0 auto 45px auto;
     text-align: center;
     color: white;
     background-color: #ff214f;
     height: 200px;
     width: 250px;

     .icon {
       margin-bottom: 15px !important;
     }

     span {
       font-size: 20px;
       line-height: 26px;
       display: block !important;
       font-weight: 300;
     }
   }

   .section-heading {
     margin-bottom: 25px;
     font-weight: 600;
     position: relative;
     overflow: hidden;

     span {
       display: inline-block;
       vertical-align: middle;
       margin-right: 20px;
     }

     &:after {
       content: "";
       display: inline-block;
       width: 100%;
       background: #ff214f;
       height: 1px;
       top: 50%;
       position: absolute;
     }
   }

   .section-content {
     margin-bottom: 45px;
   }

   .tags-section {
     .tag {
       font-size: 10px;
       padding: 3px 8px;
       border: 1px solid #d9d9d9;
       margin: 0 8px 8px 0;
       display: inline-block;
       text-transform: uppercase;
       color: #232323;
       line-height: 18px;
       cursor: pointer;

       &:hover {
         background: #232323;
         color: #fff !important;
         border: 1px solid #232323;
       }
     }
   }

   .popular-list-section {
     .latest-blog {
       list-style: none;
       padding: 0;
       margin: 0;

       li {
         padding: 10px 0;
         display: table;

         &:first-child {
           padding-top: 0;
         }

         figure {
           display: table-cell;
           vertical-align: top;
           float: left;
           margin: 0;
         }

         div {
           line-height: normal;
           padding-left: 13px;
           position: relative;
           top: -1px;

           .title {
             cursor: pointer;
             margin-bottom: 2px;

             a:hover {
               color: #ff214f !important;
             }
           }
         }

         .blog-date {
           &:before, &:after {
             display: table;
             content: " ";
           }
         }
       }
     }
   }

   .category-section {
     .category-list {
       list-style: none;
       margin: 0;
       padding: 0;

       li {
         position: relative;
         padding: 0 15px 8px 0;
         margin: 0 0 8px 0;
         border-bottom: 1px solid rgba(0, 0, 0, 0.1);

         .category:hover, .count:hover {
           color: #ff214f;
           cursor: pointer;
         }

         &:before {
           content: "";
         }

         .count {
           position: absolute;
           top: 3px;
           right: 0;
         }
       }
     }
   }
 }

@media screen and (max-width: 710px) {
  .filters-wrapper .filter-top-box {
    height: 180px;
    width: 300px;
  }
}