.filters-form-wrapper {
  min-height: 500px;

  .filters-form-header {
    background: rgba(1, 58, 107, .7) !important;
    color: white !important;
    height: 35px;

    &:hover{
      background: rgba(1, 58, 107, .7) !important;
    }
  }

  .filters-form {
    //width: fit-content;
    padding: 5px;
    margin: 10px auto auto;

    .ui.fluid.dropdown{
      display: inline-block;
    }
  }

  .filters-form-buttons-wrapper{
    align-self: flex-end;
    display: inline-table;
    margin-bottom: 2px;
  }

  .react-datepicker__input-container{
    width : 100%
  }

  .ui.dropdown{
    height: fit-content;

    .text{
      line-height: 16px;
      height: 18px;
      overflow: hidden;
    }
  }
}

@media screen and (max-width: 985px) {
  .filters-form-wrapper {
    min-height: unset;
  }
}