.home-search .ui.input {
  height: 46px;
  min-width: 400px;
  max-width: 450px;
}

.search-text-wrapper {
  margin: auto;
  font-size: 42px;
}

@media screen and (max-width: 710px) {
  .home-search .ui.input {
    min-width: 0;
  }
  .search-text-wrapper {
    font-size: 25px;
  }

  .ui.small.statistic > .value {
    font-size: 25px !important;
  }
  //.search-text-slider-wrapper{
  //    transform: scale(.6);
  //}
}