.latest-results {
  min-height: 300px;

  .results-list-container {
    padding: 50px 0 !important;

    .results-list {
      margin: auto;
      width: 800px;

      .result-list-header {
        text-align: center;
      }

      .content {
        margin: auto;
      }

      .event.fly.right.visible.transition, .event.fly.left.visible.transition {
        display: flex !important;
      }
      .summary {
        a {
          color: #2f2f2f;
          font-weight: unset;
        }
      }
    }
  }
}

@media screen and (max-width: 710px) {
  .latest-results .results-list-container {
    .results-list {
      padding: 0 14px !important;
      width:auto;
    }
  }
}