.join-us {
  min-height: 655px;
  .join-us-container {

    margin: 0 !important;
    height: 635px;

    .left-container {
      background: url("https://www.themezaa.com/html/pofo/images/parallax-bg8.jpg");
      background-size: cover !important;
      background-position: center !important;
      background-repeat: no-repeat !important;
    }
    .right-container {

      .add_here_text {
        text-align: center;
        margin: 0 !important;
        padding: 150px 100px 0 100px;

        .heading {
          font-weight: 500;
          //font-family: 'Montserrat', sans-serif;
          color: white;
          font-size: 40px;
          line-height: 40px;
        }
        .description-container {
          margin: 10px 0;
          color:#d1e9ec !important;
        }
      }
      .add_here_form {
        margin-top: 0;
        padding: 110px 100px;

        .heading {
          color: white;
          text-align: center;
          font-weight: 500;
          font-size: 28px;
          margin-bottom: 20px;
        }

        input::-webkit-input-placeholder, input::-moz-placeholder {
          color: whitesmoke !important;
        }

        .ui.form .field.field input:-webkit-autofill, input[type="text"] {
          border-radius: 0;
          background: transparent !important;
          border: 1px solid #363636;
          color: white;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

          &:focus {
            border-color: #585858
          }
        }

        input[type="number"] {
          background: transparent;
          border: 1px solid #363636;
          color: white;
          border-radius: 0;
          &:focus {
            border-color: #585858
          }
        }
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

        .field.error {
          input[type="number"], input[type="number"]:focus {
            border-color: #ee2323 !important;
            background: transparent;
            color: white;
          }

          .ui.form .field.field input:-webkit-autofill, input[type="text"], input[type="text"]:focus {
            border-color: #ee2323 !important;
            background: transparent !important;
            color: white;
          }
        }
      }
    }

    /*Custom Checkbox*/
    .custom_checkbox {
      color: #AAAAAA;
      display: block;
      position: relative;
      float: left;
      height: 35px;

      &:hover {
        label {
          color: #FFFFFF;
        }
        .check {
          border: 5px solid #FFFFFF;
        }
      }

      input[type=radio] {
        position: absolute;
        visibility: hidden;

        &:checked ~ {
          label {
            color: #0DFF92;
          }
          .check {
            border: 5px solid #0DFF92;

            &::before {
              background: #0DFF92;
            }
          }
        }
      }

      label {
        display: block;
        position: relative;
        font-weight: 300;
        font-size: 1.2em;
        padding-left: 40px;
        margin: 10px auto;
        height: 30px;
        z-index: 9;
        cursor: pointer;
        -webkit-transition: all 0.25s linear;
      }

      .check {
        display: block;
        position: absolute;
        border: 5px solid #AAAAAA;
        border-radius: 100%;
        height: 25px;
        width: 25px;
        top: 7px;
        left: 5px;
        z-index: 5;
        transition: border .25s linear;
        -webkit-transition: border .25s linear;

        &::before {
          display: block;
          position: absolute;
          content: '';
          border-radius: 100%;
          height: 7px;
          width: 7px;
          top: 4px;
          left: 4px;
          margin: auto;
          transition: background 0.25s linear;
          -webkit-transition: background 0.25s linear;
        }
      }
    }
    .ui.button {
      color: white;
      border: 2px solid white !important;
      background: inherit;

      &:hover, &:focus {
        color: black;
        background: white;
      }
    }
  }
}

@media screen and (max-width: 710px) {
  .join-us {
    .join-us-container {
      height: 500px;

      .left-container {
        height: 250px;
      }

      .right-container {
        .add_here_text {
          text-align: center;
          padding: 80px 10px 0 10px;

          .heading {
            font-weight: 300;
            //font-family: 'Montserrat', sans-serif;
            color: white;
            font-size: 25px;
            line-height: 25px;
          }
          .description-container {
            margin: 10px 0;
          }
        }
        .add_here_form {
          padding: 20px;

          .heading {
            font-weight: 400;
            font-size: 22px;
            margin-bottom: 20px;
          }

        }
      }
    }
  }
}