/* Burger Menu Styles */
/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #0a0a0b;
  padding: 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.bm-menu-wrap.burger-menu-style {
  left: 0;
  margin-top: 12px;
}

.ui.borderless.inverted.stackable.app-header.menu {
  background: #0a0a0b;
}

/**App Header**/
.app-header {
  position: absolute;
  min-height: 72px;
  width: 100%;
  right: 0;
  left: 0;
  top: 0;
  margin: auto;
  z-index: 10;

  .ui.menu.app-computer-menu {
    background: #0a0a0b;
    position: fixed;
    width: 100%;
  }

  &.home .ui.inverted.menu {
    &.app-computer-menu {
      background: transparent;
      //.item {
      //  color: inherit !important;
      //}
      .right.menu {
        .item:first-child {
          padding-right: 0;
          padding-left: 0;
        }

        .home-search .ui.input {
          min-width: 170px;
          max-width: 200px;
        }
      }
    }
  }

  .ui.menu {
    a.item {
      &.app-logo:hover {
        background: none;
      }
      &:not(.app-logo) {
        &.active, &:hover {
          background: none;
          color: yellow !important;
          border-bottom: 2px solid yellow;
        }
      }
    }
  }
}

.ui.pointing.menu .active.item:after {
  visibility: hidden;
}

/**App Body**/
.app-body {
  padding-top: 67px;
  padding-bottom: 300px;

  &.home {
    padding-top: 1px;
    padding-bottom: 0;
  }
  &.result {
    background: none;
  }

  &.about-us {
    padding-bottom: 0;
  }
}

/*App Footer*/
.app-footer {
  position: absolute;
  width: 100%;
  min-height: 255px;
  bottom: 0;
}

//.header-search-input .ui.form input {
//  .ui.form input, .ui.form input:focus {
//    background: transparent;
//    border-radius: 50px;
//    height: 35px;
//    border: 2px solid wheat;
//    color: wheat;
//  }
//
//  i.search.icon {
//    color: wheat;
//  }
//
//  .ui.loading.search .input > i.icon:after {
//    border-color: wheat transparent transparent;
//  }
//}

.header-search-input {
  input {
    background: transparent !important;
    border: 1px solid rgba(255, 255, 255, .6) !important;
    border-radius: 5px;
    color: white !important;
    height: 2.5em;
  }
  .icon {
    color: rgba(255, 255, 255, .8) !important;
  }

  &.home {
    input {
      height: auto;
    }
  }
}

@media screen and (max-width: 710px) {
  .app-header {
    .ui.grid.header-grid {
      margin-top: 0;
    }
    .ui.menu .right.menu .item:not(.dropdown) {
      padding-left: 0;
    }
  }
}

.admission-open {
  margin: 10px !important;
  border-radius: 20px !important;
  color: white !important;
  animation: background-changer 10s infinite;
  border-bottom: 2px solid grey;

  &:hover {
    border-bottom: none !important;
    color: white !important;
  }
}

@keyframes background-changer {
  0% {
    background-color: #4285f4;
  }
  25% {
    background-color: #ea4335;
  }
  50% {
    background-color: #fbbc05;
  }
  75% {
    background-color: #34a853;
  }
  100% {
    background-color: #ea4335;
  }
}