.top-exams-container {
  margin: 0 !important;
  height: 635px;

  .left-container {
    padding: 40px !important;
    background: #f7f7f7 !important;

    //.heading {
    //  font-family: 'Montserrat', sans-serif;
    //  text-align: center;
    //  font-weight: 700;
    //  font-size: 70px;
    //  line-height: 70px;
    //  color: white;
    //}
    //.description {
    //  margin: 0 0 25px;
    //  padding: 0 16px;
    //  text-align: center;
    //  -webkit-margin-before: 1em;
    //  -webkit-margin-after: 1em;
    //  -webkit-margin-start: 0;
    //  -webkit-margin-end: 0;
    //}
    .exam-list {
      .exam {
        //border: .9px solid #eee !important;
        //height: 180px !important;
        margin-bottom: 20px !important;

        .container {
          position: relative;
          color: #fff;
          font-size: 1.2rem;

          .image-container {
            position: relative;
            height: 140px;
            overflow: hidden;

            img {
              width: 100%;
              height: 100%;
            }
          }
          .overlay-content-container {
            background: rgba(61, 52, 52, .4);
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;

            .title {
              position: absolute;
              bottom: 0;
              padding: 7px;
              font-size: 14px;
              font-weight: 500;
              color: white !important;
            }
          }
        }
        .description-wrapper {
          margin: 0;
          width: 100%;
          background: #fcfcfc;
          padding: 9px;
          position: relative;
          text-align: justify;
          border-radius: 2px !important;
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08) !important;
          outline: none !important;
          transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1) !important;

          .exam-date{
            text-align: left;
            color: #939393;
            font-size: 11px;
            line-height: 14px;
            margin: 10px auto;
          }

          .description {
            font-size: 12px;
            height: 60px;
            line-height: 20px;
          }
        }

        &:hover {
          cursor: pointer;
          transform: scale(1.05);

          .container .overlay-content-container .title{
            color: #ffe47f !important;
          }
        }
      }
    }
  }

  .right-container{
    background: url("https://www.themezaa.com/html/pofo/images/services-img3.jpg") no-repeat !important;
    text-align: center;
    padding:0 !important;

    .overlay-content-container {
      padding: 170px 20px !important;
      background: rgba(0,0,0, 0.8);
      //position: absolute;
      //top: 0;
      //left: 0;
      //right: 0;
      //bottom: 0;
      height:635px;

      .heading {
        //font-family: 'Montserrat', sans-serif;
        text-align: center;
        font-weight: 700;
        font-size: 70px;
        line-height: 70px;
        color: white;
      }
      .description {
        font-size: 17px;
        line-height: 30px;
        color: #d1e9ec;
        margin: 0 0 25px;
        padding: 0 16px;
        text-align: center;
        -webkit-margin-before: 1em;
        -webkit-margin-after: 1em;
        -webkit-margin-start: 0;
        -webkit-margin-end: 0;
      }
    }
  }
}

@media screen and (max-width: 710px) {
  .top-exams-container {
    background: #ededed !important;
    height: 100%;

    .right-container {
      .overlay-content-container {
        padding: 20px !important;
        height: 320px;

        .heading {
          font-size: 37px;
          line-height: 42px;
        }

        .description{
          font-size: 18px;
          line-height: 24px;
        }
      }
    }

    .left-container {
      padding: 25px !important;

      .exam-list{
        height:100%;

        .exam{
          padding-right: 0;
          padding-left: 0;
          height: 300px !important;

          .container .image-container{
            height:180px;
          }
        }
      }
    }
  }
}


