.card {
  cursor: pointer;

  &.selected{
    border: 1px solid blue !important;
  }

  .content {
    text-align: center;
    .header {
      white-space: nowrap;
      overflow: hidden !important;
      text-overflow: ellipsis !important;
      font-size: 16px !important;
    }
  }
}

section {
  &.stream .label{
    //border: 1px solid rgba(15, 126, 237, 1) !important;
    &.selected, &:hover {
      color: #1e70bf;
      border: 1px solid #E0E0E0 !important;
    }
  }
  &.sub-stream .label{
    //border: 1px solid rgba(15, 126, 237, 1) !important;
    &.selected, &:hover {
      color: #1e70bf;
      border: 1px solid #E0E0E0 !important;
    }
  }
}