.latest-news-article {
  min-height: 670px;

  .ui.grid {
    margin: 0 !important;
  }
  .article-wrapper {
    padding: 0 25px !important;

    .heading-wrapper {
      color: black !important;
      font-size: 32px;
      line-height: 40px;
      font-weight: 600;
      margin-bottom: 20px;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      padding: 10px;
      .description {
        font-size: 16px;
        margin-top: 5px;
        font-weight: 300;
        display: block;
        line-height: 1.5em;
      }
    }

    .title {
      background: #f7f7f7;
      border-radius: 0;
      padding: 18px 28px 19px !important;
      margin-bottom: 15px;

      &.active {

        i.angle.down.icon {
          display: none !important;
        }
        i.angle.up.icon {
          display: inline-block !important;
        }
      }

      .dropdown.icon {
        display: none !important;
      }

      .arrows {
        float: right;
        font-size: 1.7em !important;
        color: #232323 !important;
        vertical-align: middle !important;
      }
      i.angle.up.icon {
        display: none;
      }

      .index {
        font-weight: 600;
        color: #ff214f;
        font-size: 20px;
        margin-right: 7px;
        display: inline-block;
        vertical-align: middle;
      }

      .heading {
        font-weight: 400;
        //line-height: 24px;
        font-size: 16px;
        vertical-align: middle;
        display: inline-block;
        display: -moz-inline-block;
        max-width: 75%;
      }
    }

    .content-wrapper {

      img {
        max-width: 100px !important;
        margin-right: 10px;
      }

      .created-info {
        margin-top: 5px;
        font-weight: 600;
        color: rgba(6, 136, 136, 0.71);

        .icon {
          display: inline;
        }
      }
    }
  }

  .news-wrapper {
    font-size: 13px;
    padding: 0 25px !important;

    .heading-wrapper {
      color: black !important;
      font-size: 32px;
      line-height: 40px;
      font-weight: 600;
      margin-bottom: 20px;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      padding: 10px;
      .description {
        font-size: 16px;
        margin-top: 5px;
        font-weight: 300;
        display: block;
        line-height: 1.5em;
      }
    }

    .slick-slide.info {
      height: 100px;
    }

    .title {
      font-weight: 600;
      color: black;
      &:hover {
        color: rgb(255, 33, 79);
      }
    }

    .created-info {
      color: teal;
    }

    .divider {
      margin-top: 8px !important;
      margin-bottom: 8px !important;
    }
  }
}

@media screen and (max-width: 710px) {
  .latest-news-article {
    .article-wrapper {
      padding: 0 10px !important;

      .title {
        .index {
          font-size: 16px;
        }
        .heading {
          font-size: 14px;
        }
      }

      .content-wrapper {
        font-size: 12px;
        img {
          max-width: 70px !important;
          margin-right: 10px;
        }
      }
    }

    .news-wrapper {
      padding: 0 10px !important;
      font-size: 12px;

      .divider {
        margin-top: 5px !important;
        margin-bottom: 5px !important;
      }
    }
  }
}