.upper-container {
  z-index: 1;
  left: 10%;
  right: 10%;
  margin-top: calc(70vh / 2);
}

.search-container {
  text-align: center;
  margin-top: 5px;
}

ul.slick-dots {
  margin-bottom: 9px;
}

.ui.active.visible.button.compact.selection.search-option-style.dropdown.text {
  color: #fff !important;
}

.ui.segment.body-container {
  min-height: 570px;
}

.body-content {
  margin: 2% 10% 0 10%;
  width: 80%;
}

.home-search .ui.input {
  height: 46px;
  min-width: 400px;
  max-width: 450px;
}

.home-search input {
  border-radius: 0 !important;
}

/* Top Slider */
.top-slider {
  position: relative;
  min-height: 100vh;

  .slider-body {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;

    .carousel-inner {
      height: 100%;
      position: relative;

      .item {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;

        .home-top-slider-content {
          background-repeat: no-repeat;
          width: 100%;
          height: 100%;
          background-position: center;
          -webkit-background-size: cover;
          -moz-background-size: cover;
          background-size: cover;
          -o-background-size: cover;
        }

        .slide-caption {
          position: absolute;
          bottom: 10px;
          right: 30px;
          color: yellow;
          font-size: 20px !important;
          line-height: 50px !important;
        }
      }
    }
  }

  .home-search-section {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
  }

}

.latest-colleges, .latest-exams {
  min-height: 630px;
}

.latest-schools, .latest-coachings {
  min-height: 670px;
  background: white;
}

.ui.button.animated-button.home-top-slider-button {
  background: none;
  color: white;
  border: 2px solid white;

  &:hover {
    border: 2px solid white;
  }
}

/**Search box result list**/
.results.transition.visible {
  width: 100%;
}

@media screen and (max-width: 710px) {

  .top-slider .slider-body .carousel-inner .item .slide-caption {
    bottom: 43px;
    right: 0;
    left: 0;
    text-align: center;
  }

  .home-search .ui.input {
    min-width: 0;
  }
  .search-slider-text {
    font-size: 30px;
  }
}