.schools-list-container {

  .heading-wrapper {
    padding: 20px 130px 0 !important;
    margin: 0 !important;

    .heading {
      font-weight: 600;
      //font-family: 'Montserrat', sans-serif;
      font-size: 32px;
      line-height: 40px;
      padding: 0 16px;
      text-align: center;
    }
    .description {
      margin: 0 0 25px;
      padding: 0 16px;
      text-align: center;
      -webkit-margin-before: 1em;
      -webkit-margin-after: 1em;
      -webkit-margin-start: 0;
      -webkit-margin-end: 0;
    }
  }

  .schools-list{
    padding: 0 130px !important;

    .school-column{
      .ui.grid{
        background: white;
        margin: 10px auto !important;
        box-shadow: 0 3px 8px 0 rgba(0,0,0,.2), 0 0 0 1px rgba(0,0,0,.08);
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;

        &:hover {
          cursor: pointer;
          transform: scale(1.05);

          .school-title a{
            color: #ff214f;
            text-decoration: none;
          }
        }
      }

      .school-image-column{
        padding: 15px !important;

        .school-image{
          height: 160px;
          position: relative;

          .location{
            text-align: left;
            position: absolute;
            max-width: 135px;
            right: 0;
            bottom: 0;
            font-size: 12px;
            color: red;
            background: white;
            padding: 0 2px;
          }
        }
      }

      .school-description-column{
        .school-title{
          height: 25px;
          line-height: 25px;
          overflow: hidden;
          text-align: left;
          font-size: 16px;

          a{
            color: #232323;
          }
        }

        .school-description{
          overflow: hidden;
          //font-family: 'Roboto', sans-serif;
          margin-top: 10px;
          line-height: 20px;
          font-size: 14px;
          //color: white;
          font-weight: 400;
        }

        .school-date {
          text-align: left;
          color: #939393;
          font-size: 11px;
          line-height: 14px;
          margin-top: 5px;
        }
      }
    }
  }
}


@media screen and (max-width: 710px) {
  .schools-list-container {
    .heading-wrapper {
      padding: 0 !important;
    }

    .schools-list {
      padding: 0 14px !important;
    }
  }
}