.comment-wrapper{
  margin-top: 50px;

  .form .field{
    width: 60% !important;
  }

  img{
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 10px;
  }

  .signIn-button{
    margin-top: 1% !important;
    margin-left: 10px;
    cursor: pointer;
  }
  .signOut-button{
    margin-top: 9% !important;
    margin-left: 50px;
    cursor: pointer;
  }
  .comment-button{
    margin-top: 1.6% !important;
  }

  .comment-limit{
    float: right;
    font-size: 11px;
  }

  .user-info-wrapper{
    display: inline-flex !important;

    .username-wrapper {
      line-height: 18px;
      padding-top: 6px;

      .username-label {
        font-size: 12px;
      }

      .username {
        color: black;
        font-weight: 400;
      }
    }
  }

  .no-user-icon{
    font-size: 2.5em !important;
    vertical-align: middle;
  }
}

.comments-list-wrapper{
  margin-top: 50px;
  width:60% !important;

  .text.extra{
    text-align: justify;
  }

  .older-comments-label{
    float: left;
    cursor: pointer;
    margin-bottom: 5px;
    color: #53a0da;
  }
}

@media screen and (max-width: 710px) {
  .comment-wrapper {
    .form .field {
      width: 100% !important;
    }
  }

  .comments-list-wrapper {
    width: 100% !important;

    .text.extra{
      text-align: justify;
    }
  }
}