.footer-container {
  background: rgba(0,0,0,0.6);
  position: absolute;
  width: 100%;
  transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-duration: .3s;
  -moz-transition-duration: .3s;
  -webkit-transition-duration: .3s;
  -o-transition-duration: .3s;

  .container {
    padding-right: 120px;
    padding-left: 120px;
  }

  .footer-top-container{
    .column:not(:last-child){
      border-right: 1px solid #363636;
    }

    .footer-logo{
      font-weight: 500;
      color: rgba(255,255,255,.9);
      font-size: 30px;
    }

    .contact-info{
      padding-left : 45px;
    }

    .footer-text{
      margin-bottom:12px;
      text-align: justify;
    }

    .footer-column-title {
      margin-bottom: 10px;
      font-weight: 600;


    }
    .contact-info{
      .address{
        margin-bottom: 15px;
      }
      .email a, .phone a{
        color: #626262;
        &:hover {
          color: #ff214f;
        }
      }
    }

    .social-icons-wrapper .icon{
      :hover {
        color: #ff214f;
      }
      &.social-link-facebook:hover{
        color:blue;
        cursor: pointer;
      }
      &.social-link-google:hover{
        color:#c73828;
        cursor: pointer;
      }
      &.social-link-youtube:hover{
        color:red;
        cursor: pointer;
      }
      &.social-link-twitter:hover{
        color :teal;
        cursor: pointer;
      }
      &.social-link-instagram:hover{
        color: #ff214f;
        cursor: pointer;
      }
      &.social-link-linkedin:hover{
        color:#007ab9;
        cursor: pointer;
      }
    }
  }

  .footer-bottom-container{
    a{
      color: #626262;

      &:hover{
        color: #ff214f;
        cursor:pointer;
      }
    }

    .footer-text-left{
      text-align: left;
      color: #626262;
    }
    .footer-text-right{
      color: #626262;
      text-align: right;
    }
  }

}


.bg-dark-footer {
  background-color: #141414;
}
.bg-extra-dark-gray {
  background-color: #1c1c1c;
}
.text-small {
  font-size: 12px;
  line-height: 20px;
}
.display-inline-block {
  display: inline-block !important;
}
.margin-20px-bottom {
  margin-bottom: 20px;
}

.text-small {
  font-size: 12px;
  line-height: 20px;
}
.vertical-align-middle {
  vertical-align: middle;
}
.padding-three-tb {
  padding-top: 3%;
  padding-bottom: 3%;
}
.bg-extra-dark-gray {
  background-color: #1c1c1c;
}

@media screen and (max-width: 710px) {
  .footer-container{
    .container {
      padding: 10px;
    }

    .footer-top-container{
      text-align: center;

      .column:not(:last-child){
        margin-bottom: 30px !important;
        border:none;
      }

      .footer-text{
        text-align: center;
      }
    }

    .footer-bottom-container{
      .footer-text-left, .footer-text-right{
        text-align: center;
      }
    }
 }
}