.ui.segment.app-list-segment {
  min-height: 500px;

  &.school, &.college, &.coaching {
    background: #f7f7f7;
    //padding: 40px 50px;
    filter: none;
  }

  &.result .ui.form .inline.fields .field {
    margin-bottom: 5px;
  }

  .basic-detail-add-new-button {
    float: right;
  }

  &.result {
    //.basic-detail-add-new-button {
    //  position: absolute;
    //  right: 10px;
    //  top: 13px;
    //}
    .ui.header.basic-detail-list-header {
      text-shadow: none;
    }
  }
}

.article-news-pagination .item:not(.active) {
  color: teal !important;
}

.result-list-container {
  background: white;
  margin-bottom: 20px;
  padding: 20px 50px 10px 20px;
  border-radius: 10px;
  //transition: all .5s ease-in;

  //&:hover {
  //  transform: scale(.95);
  //  color: white;
  //}

  .separator-line {
    margin: 5px auto;
  }
}

.filter-section-title {
  background-image: -webkit-linear-gradient(45deg, rgba(1, 58, 107, 0.9) 45%, rgb(255, 255, 255) 66%);
}

.react-datepicker__input-container input {
  width: 150px !important;
}

.result-list-filters-wrapper.ui.segment {
  min-height: 100px;
  margin: auto;
  //width: 500px;
}

@media screen and (max-width: 710px) {
  .result-list-filters-wrapper.ui.segment {
    width: auto;
  }
  .ui.segment.app-list-segment {
    &.school, &.college, &.coaching {
      padding: 40px 15px;
    }

    .basic-detail-add-new-button {
      position: absolute;
      right: 1.5%;
      float: right;
      top: .3%;
    }
  }
  .result-list-container {
    padding: 20px;
  }
  .result-card-image-container {
    margin: auto;
  }
}

.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}

.pagination > li {
  display: inline;
}

.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #337ab7;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}

.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  z-index: 2;
  color: #23527c;
  background-color: #eee;
  border-color: #ddd;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 3;
  color: #fff;
  cursor: default;
  background-color: #337ab7;
  border-color: #337ab7;
}

.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #777;
  cursor: not-allowed;
  background-color: #fff;
  border-color: #ddd;
}

.pagination-lg > li > a,
.pagination-lg > li > span {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
}

.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.pagination-sm > li > a,
.pagination-sm > li > span {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
}

.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

/* React Semantic Ui custom styles*/
.ui.pagination.menu {
  .item {
    &.active {
      background: #1bbbed;
      color: white !important;
    }
    &:first-child, &:last-child, &:nth-child(2), &:nth-last-child(2) {
      color: #1bbbed;
    }
  }
}