.list-top-content-section {
  margin : 20px 50px;

  .section-title{
    text-align: center;
    //color: #4d9294 !important;
    text-transform: uppercase;
    font-family: cursive;
  }

  .section-content{
    box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.08);
    text-align: center;

    &:hover .list-top-content-title a{
      color: #ff214f;
    }
  }

  .list-top-content-title {
    font-family: monospace;
  }

  .explore {
    margin: 20px auto;
    text-align: center;
    color: blue;
    cursor: pointer;
    transition: opacity 0.2s, color 0.2s, transform 0.2s;

    &:hover{
      transform: scale(1.2);
    }

    span{
      font-size: 15px;
      vertical-align: middle;
    }
  }
}