.contact-form {
    min-height: 636px;
    background: white;

    .ui.grid {
        padding: 50px 80px;
    }

    .contact-form-container1.ui.segment {
        background: rgb(247, 247, 247);
        border: none;
        height: 620px;
        padding: 80px;
    }

    .contact-form-container2.ui.segment {
        background: rgb(247, 247, 247);
        padding: 55px;
        height: 620px;
        border: none;
    }

    .contact-form-image-container {
        text-align: center;
        border-radius: 8px;
    }
}


@media screen and (max-width: 710px) {
    .contact-form {
        .ui.grid {
            padding: 10px 5px;
        }

        .contact-form-container1.ui.segment, .contact-form-container2.ui.segment {
            padding: 40px 20px;
            height: auto;
        }
    }

}