.blog-list-wrapper {
  background: #ffffff;
  padding:0 20px;

  .blogs-list-content {
    clear: both;
    margin: 0 !important;

    .blog {
      margin-right: 8px;
      margin-left: 8px;
    }
  }
}

@media screen and (max-width: 710px) {
  .blog-list-wrapper {
    padding: 10px;

    .blogs-list-content {
      margin: 0 !important;

      .filters-wrapper .filter-top-box {
        height: 180px;
        width: 300px;
      }
    }
  }
}