@import "../node_modules/react-image-carousel/lib/css/main.min.css";
@import url('https://fonts.googleapis.com/css?family=Oxygen');

body {
  margin: 0;
  padding: 0;
  //font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  //font-family: 'Oxygen', sans-serif;

  font-size: 14px;
  color: #6f6f6f;
  font-weight: 400;
  line-height: 24px;

  a:hover {
    color: #ff214f;
  }
}

.app-background {
  background-color: #f7f7f7;
  z-index: -6;
  min-height: 1024px;
  height: auto;
  position: fixed;
  top: 0;
  width: 100%;

  &.about-us {
    background-image: url(./assets/image/about-us.jpg);
    -webkit-filter: brightness(.6);
    filter: brightness(.6);
    background-size: cover;
  }

  &.page-blog {
    background: #ffffff;
  }

  //&.page-school, &.page-college, &.page-coaching, &.page-result, &.page-event, &.page-exam  {
  //  filter: none;
  //  background: #f7f7f7;
  //}

  //&.page-study {
  //  background-image: url(./assets/image/backgroung-books.jpg);
  //}

}

.no-internet-background {
  background: url(./assets/image/no-internet-connection.gif) center no-repeat;
  background-color: #f7f7f7;
  background-position-y: inherit;
  z-index: -6;
  min-height: 100%;
  height: auto;
  position: fixed;
  top: 0;
  width: 100%;
}

.ui.segment.no-padding-segment {
  padding: 0;
  margin: 0;
}

/* Class to prevent content to overflow and show....*/
.no-overflow-content {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/* Basic Card styles*/
.item .basic-item-extra-content {
  max-height: 184px;
  overflow: hidden;
  text-align: justify;
  white-space: pre-line;
}

p {
  white-space: pre-wrap;
  text-align: justify;
}

.published-date {
  color: orange
}

.basic-card-action-buttons {
  position: absolute;
  bottom: 0;
  right: 0;
}

.basic-detail-add-new-button {
  //position: absolute;
  //right: 1.5%;
  float: right;
  //top: .5%;
}

.ui.button.basic-detail-contact-button:not(:last-child) {
  border-right: 1px solid white;
}

.ui.header.basic-detail-list-header {
  color: blue;
  margin-bottom: 5px;
  //text-shadow: 2px 1px 3px #1b1f48;
}

.mobileOnly {
  display: none !important;
}

.separator-line {
  height: 1px;
  background: #ededed;
  margin: 10px auto;
}

.ui.button.animated-button {
  border: 1px solid black;
  transition: all .3s ease-in-out;

  &:hover, &:focus {
    background: white;
    color: black;
    border: 1px solid black;
  }
}

.border-bottom-colored {
  background: #383737;
  height: 1px;
  margin: auto;
}

.error-message {
  color: #ff0000;
  font-size: 12px;
}

.text-medium-gray {
  color: #939393;
}

.text-extra-dark-gray {
  color: #232323;
}

.text-extra-small {
  font-size: 11px;
  line-height: 14px;
}

.text-extra-large {
  font-size: 20px;
  line-height: 26px;
}

.alt-font {
  //font-family: 'Montserrat', sans-serif;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.bg-black {
  background-color: #000;
}

.opacity-extra-medium {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0.5;
  top: 0;
  left: 0;
}

.padding-bottom-zero {
  padding-bottom: 0 !important;
}

.padding-top-zero {
  padding-top: 0 !important;
}

.margin-bottom-zero {
  margin-bottom: 0 !important;
}

.margin-top-zero {
  margin-top: 0 !important;
}

.bg-extra-dark-gray {
  background-color: #1c1c1c;
}

.display-table-cell {
  display: table-cell !important;
}

.vertical-align-top {
  vertical-align: top;
}

.position-relative {
  position: relative !important;
}

.first-letter {
  float: left;
  font-size: 25px;
  margin: 0 7px 0 0;
  min-width: 22px;
  text-align: center;
  padding: 10px;
  font-weight: 500;
  color: white;
}

@media screen and (max-width: 710px) {
  .mobileOnly {
    display: block !important;
  }
  .computerOnly {
    display: none !important;
  }
}

* {
  transition: all .15s ease-in-out;
  transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-duration: .3s;
  -moz-transition-duration: .3s;
  -webkit-transition-duration: .3s;
  -o-transition-duration: .3s;
  font-family: 'Oxygen', Icons, sans-serif;
}

*:hover {
  transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-duration: .2s;
  -ms-transition-duration: .2s;
  -moz-transition-duration: .2s;
  -webkit-transition-duration: .2s;
  -o-transition-duration: .2s;
}

.ui.button {
  transition: all .5s ease-in-out !important;
}

._tag {
  cursor: default;
  margin-bottom: 0;
  vertical-align: middle;
  background: #F4F4F4;
  color: #999;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 3px 5px;
  text-align: center;
  margin-right: 4px;
  font-size: 9px;
  display: inline-block;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 80px;
}

.max-1-line {
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}

.max-1-lines {
  text-overflow: ellipsis !important;
  overflow: hidden !important;
  line-clamp: 1 !important;
  -webkit-line-clamp: 1 !important;
  /* autoprefixer: off */
  -webkit-box-orient: vertical;
  /* autoprefixer: on */
}

.max-2-lines {
  text-overflow: ellipsis !important;
  display: -webkit-box !important;
  overflow: hidden !important;
  -webkit-line-clamp: 2 !important;
  /* autoprefixer: off */
  -webkit-box-orient: vertical;
  /* autoprefixer: on */
}

.max-3-lines {
  text-overflow: ellipsis !important;
  display: -webkit-box !important;
  overflow: hidden !important;
  line-clamp: 3 !important;
  -webkit-line-clamp: 3 !important;
  /* autoprefixer: off */
  -webkit-box-orient: vertical;
  /* autoprefixer: on */
}

.max-4-lines {
  text-overflow: ellipsis !important;
  display: -webkit-box !important;
  overflow: hidden !important;
  line-clamp: 4 !important;
  -webkit-line-clamp: 4 !important;
  /* autoprefixer: off */
  -webkit-box-orient: vertical;
  /* autoprefixer: on */
}

//.required-field:after{
//    content: ' *';
//    color: orangered;
//    display: inline;
//}