.rating-modal{
  width:30%;
}

@media screen and (max-width: 710px) {
  width : auto;
}

.ui.form .field.input-without-controls input[type=number]::-webkit-outer-spin-button, .ui.form .field.input-without-controls input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
