.login-form-container{
  .ui.segment.login-box {
    width: 400px;
    left: 0;
    right: 0;
    margin: 80px auto auto;
    padding: 30px;
    -webkit-box-shadow: 4px 3px 17px -1px rgba(0, 0, 0, 0.7);
    box-shadow: 0 2px 17px 3px rgba(0, 0, 0, 0.5);
    position: absolute;
  }

  .app-logo-container{
    text-align: center;
    margin-top:-45px;
  }

  .login-logo{
    width: 114px;
  }

  .login-button-group a {
    margin-left: 5px;
    vertical-align: middle;
  }

  .login-buttons-container{
    width : 100%
  }
}

.signup-form-container, .verify-user-form-container{
  .ui.segment.login-box {
    width: 40%;
    left: 0;
    right: 0;
    margin: 4% auto auto auto;
    padding: 30px;
    -webkit-box-shadow: 4px 3px 17px -1px rgba(0, 0, 0, 0.7);
    box-shadow: 0 2px 17px 3px rgba(0, 0, 0, 0.5);
    position: absolute;
  }

  .signup-logo {
    width: 120px;
  }

  .app-logo-container{
    text-align: center;
    margin-top:-45px;
  }
}

.verify-user-logo {
  width: 114px;
}

i.blue.calendar.large.bordered.icon.calender-icon {
  height: 38px;
}


@media screen and (max-width: 710px) {
  .login-form-container {
    .ui.segment.login-box {
      width: auto;
      left: 0;
      right: 0;
      margin: 50px 10px;
    }
  }
  .signup-form-container, .verify-user-form-container {
    .ui.segment.login-box {
      width: auto;
      left: 0;
      right: 0;
      margin: 10px 10px;
      padding: 20px;
    }
  }
}